.section-title{
    text-transform: uppercase;
    color: #fff !important;
    font-size: 1.8em;
}


.viewMore{
    text-decoration: none;
    color: #ffffff;
    font: size 1.2em;
    transition:0.3s;
    display: block;
    text-align: right;
    width: 100%;
    
}

.viewMore:hover{
    color: var(--second);
}

/* ================= HOME PAGE ================= */

.section-space{
    margin-top: 60px;
}

.section-title{
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
}

.viewMore{
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s ease;
}

.viewMore:hover{
    color: var(--second);
}

@media (max-width:768px){

    .section-space{
        margin-top:40px;
    }

    .viewMore{
        margin-top:10px;
    }

}