.category-section {
    margin-top: 60px;
}

.categoryCard {
    background: var(--bgColor);
    border-radius: 20px;
    padding: 25px 20px;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgba(255,255,255,0.05);
    box-shadow:
        -5px -5px 15px rgba(255,255,255,0.05),
         5px 5px 15px rgba(0,0,0,0.35);
    transition: 0.3s ease;
    height: 140px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.categoryCard:hover {
    transform: translateY(-8px);
    border-color: var(--second);
}

.categoryCard h4 {
    color: #fff;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.categoryCard span {
    color: #b0b0b0;
    font-size: 0.9rem;
}